# TELECOM CHURN PREDICTION

In [1]:
# imports

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


%matplotlib inline

In [2]:
# Loading My Dataset and Creating a DataFrame

df = pd.read_csv("cell2cell-duke univeristy.csv")
df.head()

,Unnamed: 0,X,customer,traintest,churn,churndep,revenue,mou,recchrge,directas,...,retaccpt,newcelly,newcelln,refer,incmiss,income,mcycle,setprcm,setprc,retcall
0,1,1,1000002,0,0,NaN,57.492500,482.75,37.424999,0.2475,...,0,0,1,0,0,5,0,0,149.989990,0
1,2,2,1000006,0,0,NaN,82.275002,1312.25,75.000000,1.2375,...,0,1,0,0,0,6,0,0,9.989998,0
2,3,3,1000010,0,0,NaN,31.662500,25.50,29.990000,0.2475,...,0,0,1,0,0,9,0,0,29.989990,0
3,4,4,1000011,0,0,NaN,62.127499,97.50,65.985001,2.4750,...,0,1,0,0,0,6,0,0,29.989990,0
4,5,5,1000014,0,0,NaN,25.225000,2.50,25.000000,0.0000,...,0,1,0,0,0,7,0,0,29.989990,0

In [3]:
df.shape

(71047, 72)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71047 entries, 0 to 71046
Data columns (total 72 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  71047 non-null  int64
 1   X           71047 non-null  int64
 2   customer    71047 non-null  int64
 3   traintest   71047 non-null  int64
 4   churn       71047 non-null  int64
 5   churndep    40000 non-null  float64
 6   revenue     70831 non-null  float64
 7   mou         70831 non-null  float64
 8   recchrge    70831 non-null  float64
 9   directas    70831 non-null  float64
 10  overage     70831 non-null  float64
 11  roam        70831 non-null  float64
 12  changem     70545 non-null  float64
 13  changer     70545 non-null  float64
 14  dropvce     71047 non-null  float64
 15  blckvce     71047 non-null  float64
 16  unansvce    71047 non-null  float64
 17  custcare    71047 non-null  float64
 18  threeway    71047 non-null  float64
 19  mourec      71047 non-null  float64
 20  outcalls    71047 non-null  float64
 21  incalls     71047 non-null  float64
 22  peakvce     71047 non-null  float64
 23  opeakvce    71047 non-null  float64
 24  dropblk     71047 non-null  float64
 25  callfwdv    71047 non-null  float64
 26  callwait    71047 non-null  float64
 27  months      71047 non-null  int64
 28  uniqsubs    71047 non-null  int64
 29  actvsubs    71047 non-null  int64
 30  phones      71046 non-null  float64
 31  models      71046 non-null  float64
 32  eqpdays     71046 non-null  float64
 33  age1        69803 non-null  float64
 34  age2        69803 non-null  float64
 35  children    71047 non-null  int64
 36  credita     71047 non-null  int64
 37  creditaa    71047 non-null  int64
 38  prizmrur    71047 non-null  int64
 39  prizmub     71047 non-null  int64
 40  prizmtwn    71047 non-null  int64
 41  refurb      71047 non-null  int64
 42  webcap      71047 non-null  int64
 43  truck       71047 non-null  int64
 44  rv          71047 non-null  int64
 45  occprof     71047 non-null  int64
 46  occcler     71047 non-null  int64
 47  occcrft     71047 non-null  int64
 48  occstud     71047 non-null  int64
 49  occhmkr     71047 non-null  int64
 50  occret      71047 non-null  int64
 51  occself     71047 non-null  int64
 52  ownrent     71047 non-null  int64
 53  marryun     71047 non-null  int64
 54  marryyes    71047 non-null  int64
 55  mailord     71047 non-null  int64
 56  mailres     71047 non-null  int64
 57  mailflag    71047 non-null  int64
 58  travel      71047 non-null  int64
 59  pcown       71047 non-null  int64
 60  creditcd    71047 non-null  int64
 61  retcalls    71047 non-null  int64
 62  retaccpt    71047 non-null  int64
 63  newcelly    71047 non-null  int64
 64  newcelln    71047 non-null  int64
 65  refer       71047 non-null  int64
 66  incmiss     71047 non-null  int64
 67  income      71047 non-null  int64
 68  mcycle      71047 non-null  int64
 69  setprcm     71047 non-null  int64
 70  setprc      71047 non-null  float64
 71  retcall     71047 non-null  int64
dtypes: float64(28), int64(44)
memory usage: 39.0 MB